/* .media1{

} */
.text1{
   margin-top:-17%;
    margin-left: 75%;
}
.text1:hover{
    cursor: pointer;
   
}

.text2{
    margin-top:-20%;
     margin-left: 29%;
 }
 .text1:hover{
     cursor: pointer;
    
 }
 /* ` */